.searchBar {
  background-color: #1f1b2d;
  display: flex;
  align-items: center;
  line-height: 24px; /* Set the line-height to match the height of the input */
  justify-content: flex-end;
  padding: 4px;
  padding-right: 36px;
  padding-left: 36px;
}

.search {
  position: relative;
  display: flex; /* Add display: flex to vertically center its children */
  align-items: center; /* Vertically center the children */
}

.icon {
  cursor: pointer;
  width: 20px;
  height: 20px; /* Adjust the height as needed */
  margin-right: 10px; /* Adjust the margin as needed */
  transition: margin-right 0.3s ease; /* Transition the margin-right property for smooth animation */
}

.searchInput {
  width: 0;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin-right: 10px;
  transition: width 0.3s ease;
  height: 25px; /* Adjust the height as needed for a larger input */
  outline: none; /* Remove the default focus outline */
  background-color: #282435; /* Set background color */
  border-radius: 18px; /* Round the corners for a more attractive look */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  position: relative; /* Position relative for absolute positioning of the icon */
}

.searchInput.active {
  width: 150px;
  border: 2px solid #d24539; /* Change the border color when active */
  background-color: #282435; /* Change the background color when active */
  color: white;
  padding: 8px 16px; /* Adjust padding when active */
  margin-right: 10px;
  height: 25px;
}


.searchInput.active + .icon {
  margin-right: 160px;
}

h5 {
  font-size: small;
  color:white;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #d24539;
}